@tailwind base;

* {
    scrollbar-width: thin;
    scrollbar-color: #bfbfbf #FEFEFE;
}

*::-webkit-scrollbar {
    width: 15px;
  }
  
  *::-webkit-scrollbar-track {
    background: #1a1b1e;
  }
  
  *::-webkit-scrollbar-thumb {
    border: 3px solid #bfbfbf;
    background-color: #FEFEFE;
    border-radius: 14px;
  }
  
  .cl-internal-rsjg4y {
    color: black !important;
  }

@media (prefers-color-scheme: dark) {
  * {
    scrollbar-color: #282b33 #1a1b1e;    
  }

  *::-webkit-scrollbar {
    width: 15px;
  }
  
  *::-webkit-scrollbar-track {
    background: #1a1b1e;
  }
  
  *::-webkit-scrollbar-thumb {
      border: 3px solid #1a1b1e;
      background-color: #282b33;
  }

  .cl-internal-rsjg4y {
    color: white !important;
  }
  
  .cl-internal-1hkq5ps {
    color: white !important;
  }

  .cl-internal-fqx4fd {
    color: white !important
  }

  .cl-internal-f7yy9s {
    border-color: white !important;
    color: white !important;

  }
}



@tailwind components;
@tailwind utilities;